<h2 mat-dialog-title>Material Form</h2>
<mat-dialog-content>
  <form [formGroup]="materialForm" (ngSubmit)="onSubmit()" class="form-grid">
    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Ime kompanije</mat-label>
        <input matInput formControlName="company_name" required />
        @if (materialForm.get('company_name')?.hasError('required')) {
          <mat-error>
            Ime kompanije je obavezno.
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Radni Nalog</mat-label>
        <input matInput formControlName="rn" required />
        @if (materialForm.get('rn')?.hasError('required')) {
          <mat-error>
            Radni nalog je obavezan.
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Tip materijala</mat-label>
        <input matInput formControlName="material_type" required />
        @if (materialForm.get('material_type')?.hasError('required')) {
          <mat-error>
            Tip materijala je obavezan.
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Broj dostave</mat-label>
        <input matInput formControlName="package_number" required />
        @if (materialForm.get('package_number')?.hasError('required')) {
          <mat-error>
            Broj dostave je obavezan.
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Komentar</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Datum dostave</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (materialForm.get('date')?.hasError('required')) {
          <mat-error>
            Datum dostave je obavezan.
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Pocetak Dostave</mat-label>
        <input matInput type="time" formControlName="start_time" required />
        @if (materialForm.get('start_time')?.hasError('required')) {
          <mat-error>
            Vreme pocetka dostave je obavezno.
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Kraj Dostave</mat-label>
        <input matInput type="time" formControlName="end_time" required />
        @if (materialForm.get('end_time')?.hasError('required')) {
          <mat-error>
            Vreme kraja dostave je obavezno.
          </mat-error>
        }
      </mat-form-field>
    </div>
  </form>

  <mat-dialog-actions>
    <button mat-button (click)="onClose()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="materialForm.invalid" (click)="onSubmit()">Submit</button>
  </mat-dialog-actions>
</mat-dialog-content>
