<div class="actions-container">
  <div class="button-container left-buttons">
    <button mat-button class="action-button" (click)="goToPrevious()">
      Prethodna
    </button>
    <button mat-button class="action-button" (click)="goToCurrent()">
      Trenutna
    </button>
    <button mat-button class="action-button" (click)="goToNext()">
      Sledeca
    </button>
  </div>

  <div class="current-view">
    <span *ngIf="currentView === CalendarView.Week">
      {{ startDate | date: 'MMMM d, y' }} - {{ endDate | date: 'MMMM d, y' }}
    </span>
    <span *ngIf="currentView === CalendarView.Month">
      {{ startDate | date: 'MMMM y' }}
    </span>
  </div>

  <div class="button-container right-buttons">
    <button mat-button class="action-button" (click)="changeViewToWeek()">
      Nedelja
    </button>
    <button mat-button class="action-button" (click)="changeViewToMonth()">
      Mesec
    </button>
  </div>
</div>
<div class="draggable-events">
  <div 
    class="draggable-event" 
    draggable="true" 
    (dragstart)="onDragStart($event, event)"
    *ngFor="let event of outsideEvents">
    {{ event.title }}
  </div>
</div>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [excludeDays]="[0]"
    [refresh]="reportService.refreshView"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    class="calendar-container"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="7"
    [dayEndHour]="17"
    [excludeDays]="[0]"
    [hourSegments]="2"
    [refresh]="reportService.refreshView"
    [locale]="locale"
    (drop)="onDrop($event)"
    (dragover)="allowDrop($event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  >
  </mwl-calendar-week-view>
</div>
