<h2 mat-dialog-title>Detalji dostave</h2>

<div mat-dialog-content class="details-container">
  <div class="grid-container">
    <div class="detail-item">
      <label>Ime kompanije:</label>
      <p>{{ report?.company_name }}</p>
    </div>

    <div class="detail-item">
      <label>Radni Nalog:</label>
      <p>{{ report?.rn }}</p>
    </div>

    <div class="detail-item">
      <label>Tip materijala:</label>
      <p>{{ report?.material_type }}</p>
    </div>

    <div class="detail-item">
      <label>Broj dostave:</label>
      <p>{{ report?.package_number }}</p>
    </div>

    <div class="detail-item">
      <label>Komentar:</label>
      <p>{{ report?.comment || 'Nema komentara' }}</p>
    </div>

    <div class="detail-item">
      <label>Datum dostave:</label>
      <p>{{ report?.date | date : 'longDate' }}</p>
    </div>

    <div class="detail-item">
      <label>Ocekivani dolazak:</label>
      <p>{{ report?.start_time }}</p>
    </div>

    <div class="detail-item">
      <label>Ocekivan zavrsetak:</label>
      <p>{{ report?.end_time }}</p>
    </div>

    <div class="detail-item">
      <label>Zavrsena priprema:</label>
      <p>{{ (report?.ready_time | date : 'd.M.yyyy H:MM') || 'Nije pripremljeno' }}</p>
    </div>

    <div class="detail-item">
      <label>Zabelezeni dolazak:</label>
      <p>{{ (report?.arrival_time | date : 'd.M.yyyy H:MM') || 'Nije zabelezena dostava' }}</p>
    </div>

    <div class="detail-item">
      <mat-checkbox (change)="readyTimeChange($event)" [checked]="!!report?.ready_time">Posiljka spremna</mat-checkbox>
    </div>

    <div class="detail-item">
      <mat-checkbox (change)="arrivalTimeChange($event)" [checked]="!!report?.arrival_time">Odlazak kamiona</mat-checkbox>
    </div>

  </div>
</div>

<mat-dialog-actions>
  <button mat-button (click)="onDelete()">Delete</button>
  <button mat-button (click)="ngOnInit()">Save</button>
  <button mat-button (click)="onClose()">Cancel</button>
</mat-dialog-actions>
